/*fyrir alla hlekki á síðunni, fjarlægja undirlínu og hafa sama lit*/
a, a:hover {
    color: #f97224;
    text-decoration: none;
}

/*fire line-ið*/
.nav-image img {
    position: absolute;
    margin-top: 80px;
    width: 100%;
}

/*profile myndin í horninu og eldurinn/stjörnunar sem fylgja*/
.profile_img_nav {
    float: right;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

/*hafa lit á textanum í navbar, ATH virkar ekki*/
.nav-links {
    color: #f97224;
    padding: 10px;
}

/*mynd í item detail*/
.float-container {
    margin-top: 40px;
    color: #f97224;
    float: left;
    width: 50%;
    margin-right: 20px;
}
.float-container img {
    max-width: 100%;
    display: inline;
}

/*texti með upplýsingum í item detail*/
.child-container {
    margin-top: 40px;
    color: #f97224;
    width: 40%;
    float: right;
    padding-right: 50px;
}

.detail-title-price {
    display: flex;
    justify-content: space-between;
}

.detail-offer {
    display: flex;
    justify-content: space-around;
}

.detail-similar {
    clear: both;
    color: #f97224;
    padding-top: 50px;
}

.products {
    margin-top: 30px;
    width: 75%;
    float: right;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*öll items í shop síðunni*/
.product {
    width: 33%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    float: left;
}

.product h4 {
    color: #f97224;
    float: left;
    width: 100%;
}

.product p {
    float: left;
    color: #F9C724;
    width: 100%;
}

.product img {
    padding-top: 20px;
    width: 250px;
    height: 250px;
    object-fit: contain;
}

.search-filter {
    margin-top: 60px;
    width: 25%;
    float: right;
}

.search-bar {
    width: 70%;
    margin-left: 30px;
}
.search-input {
    color: #f97224;
    outline: 0;
    border-width: 0 0 2px;
    border-bottom-color: lightgrey;
}

/*fóturinn neðst á síðunni
.footer {
    background-color: #f97224;
    height: 80px;
    color: white;
    position: relative;
    margin-top: 1200px;
}
*/