

/* Sidebar container */
.sidebar {
  	background-color:#F97D24;
    height: 100%;
    width: 240px;
    z-index: 600;
    padding-top: 60px;
    padding-bottom: 80px;
}

/* Title of the link selections */
.side-nav-title{
  	color: white;
    border-bottom: 2px solid white;
    margin: 0px 40px 8px 40px;
    width: auto;
}

/* link container */
.sidebar-options-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
}


/* link option */
.side_nav_option{
    color: #fbfbfb;
    padding: 15px 0px 15px 40px;
    width: 100%;
}

/* link on hover, so user can see the link they are on */
.side_nav_option:hover{
    background-color: #FF903F;
    color: #fbfbfb;
    font-size: larger;
}


/* Flex container for my account page */
.profile-flex-container{
    display: flex;
    flex-direction: row;
}

/* Second child og flex container fill the rest of site (next to the side nav bar) */
.profile_content_container:not(:first-child) {
  width: 100%;
}