
/* Sidebar */
.sidebar {
  	background-color:#F97D24;
    display: block;
    left: 0;
    height: 100%;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
}


.sidebar_container {
  margin-left: 30px;
  margin-right: 40px;
  margin-top: 100px;
}

.sidebar-options-containter {
  display: flex;
  flex-direction: column;
}



.side-nav-title{
  	color: white;
    padding-top: 40px;
    border-bottom: 2px;
    border-bottom-color: white;
    padding-bottom: 0px;
}

.side_nav_option{
    color: #fbfbfb;
}