
/* ----------------- Profile ----------------*/

/* Flex container for my account page */
.profile_flex_container{
    display: flex;
    flex-direction: row;
}

/* Second child og flex container fill the rest of site (next to the side nav bar) */
.profile_content_container:not(:first-child) {
  width: 100%;
}

.profile_container{
    margin-top: 25px;
    padding: 70px 80px;
}

.profile_title{
    color: #f97224;
    margin-bottom: 80px;
    text-align: center;
}

.profile_info_flex{
    display: flex;
    flex-direction: row;
    padding: 0 15%;
}

.profile_img_container{
    padding-right: 50px;
    display: flex;
    flex-direction: column;
}

.profile_img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
}

.profile_info_container, .review_info_container{
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    padding-left: 50px;
    width: 100%;
}

.review_info_container{
    padding: 0;
}

.user_name{
    width: auto;
    margin-top: 30px;
    margin-bottom: 0;
}

.user_bio{
    margin-top: 25px;
    margin-bottom: 0;
}

.rating_img{
    width: 130px;
    object-fit: scale-down;
    margin-left: 25px;
    margin-top: 25px;
}

/* --------------- Profile review ---------------- */

.profile_review_container{
    padding: 60px 300px;
}

.reviewer_name{
    color: #f97224;
    width: auto;
    margin-top: 30px;
    margin-bottom: 15px;
}

.review_sub_title{
    color: #f97224;
    margin-right: 10px;
    margin-bottom: 0;
}

.review_rating_img{
    width: 100px;
    object-fit: scale-down;
}

.review_text{
    padding-top: 15px;
}

/* ! ------------ Profile ----------- ! */


/* ------------------ Single_ files ----------------- */

.single_item_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 48%;
    max-width: 300px;
    margin: 0 20px;
}

.flex_break{
    flex-basis: 100%;
    height: 0;
}

h5.profile_sub_title{
    color: #f97224;
    text-align: center;
    margin-top: -60px;
    margin-bottom: 40px;
}

.empty_message_container{
    text-align: center;
    width: 100%;
}

.items_container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 25px;
    width:100%;
}

.single_item_img{
    width: 35%;
    object-fit: cover;
    margin-right: 2%;
}

.item_title{
    color: #f97224;
    margin-top: 3px;
}

.single_item_info_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 62%;
}

/* !------------- Single_ files ------------! */


/* ------------------ Dividers ----------------- */

.divider{
    border: 0.5px solid black;
    width: 100%;
}

.divider.review_divider{
    margin-bottom: 20px;
}

.divider.offer_divider{
    margin-bottom: 40px;
}


/* ------------------ Buttons ----------------- */

.edit_btn{
    border: 2px solid #06C421;
    color: #06C421;
    background-color: transparent;
    padding: 8px 30px;
    max-height: 45px;
}

.edit_btn:hover{
    color: white;
    background-color: #06C421;
    box-shadow: rgba(0, 0, 0, 0.2) 0 12px 28px 0, rgba(0, 0, 0, 0.1) 0 2px 4px 0, rgba(255, 255, 255, 0.05) 0 0 0 1px inset;
}

.cancel_offer_btn{
    color: #f97224;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 0;
}

.cancel_offer_btn:hover{
    color: white;
    background-color: #f97224;
    box-shadow: rgba(0, 0, 0, 0.2) 0 12px 28px 0, rgba(0, 0, 0, 0.1) 0 2px 4px 0, rgba(255, 255, 255, 0.05) 0 0 0 1px inset;
}

.edit_btn.orange{
    border-color: #f97224;
    color: #f97224;
}

.edit_btn.orange:hover{
    background-color: #f97224;
    color: white;
}


/* ------------------ To change color of text ----------------- */

.red{
    color: red;
}

.green{
    color: #06C421;
}

.yellow{
    color: #F9C724;
}

