
/* --- Sidebar --- */

/* Sidebar container */
.sidebar {
  	background-color:#F97D24;
    height: 100%;
    width: 240px;
    z-index: 600;
    padding-top: 60px;
    padding-bottom: 80px;
}

/* Title of the link selections */
.side_nav_title{
  	color: white;
    border-bottom: 2px solid white;
    margin: 0px 40px 8px 40px;
    width: auto;
}

/* link container */
.sidebar_options_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
}


/* link option */
.side_nav_option{
    color: #fbfbfb;
    padding: 15px 0px 15px 40px;
    width: 100%;
}

/* link on hover, so user can see the link they are on */
.side_nav_option:hover{
    background-color: #FF903F;
    color: #fbfbfb;
    font-size: larger;
}

/*! --- Sidebar --- !*/

/* Flex container for my account page */
.profile_flex_container{
    display: flex;
    flex-direction: row;
}

/* Second child og flex container fill the rest of site (next to the side nav bar) */
.profile_content_container:not(:first-child) {
  width: 100%;
}

.profile_container{
    padding: 80px 120px;
}

.profile_title{
    color: #f97224;
    margin-bottom: 80px;
    text-align: center;

}

.profile_info_flex{
    display: flex;
    flex-direction: row;

}

.profile_img_container{
    padding-right: 50px;

}

.profile_img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
}

.profile_info_container{
    display: flex;
    flex-flow: row wrap;
    align-content: space-evenly;
    padding-left: 50px;

}

.user_name{
    width: 70% ;
}

.rating_img_container{
    width: 30%;
    text-align: end;


}

.rating_img{
    width: 130px;
    object-fit: fill;
    height: auto;
    margin-right: 0;
}

.user_email{
    width: 80%;
}