{% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}" />
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
      <!--logo-->
      <nav class="navbar navbar-light">
          <div class="container-fluid">
              <a class="navbar-brand" href="{% url 'shop-index' %}">
                  <img src="{% static 'images/logo ser.png' %}" alt="logo" width="50" height="80" class="d-inline-block align-text">
                  <img src="{% static 'images/logo text.png' %}" alt="logotext" width="170" height="60" class="d-inline-block align-text-top">
              </a>
          </div>
      </nav>
      <!--shop, create item og log out hlekkir-->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item">
              <a class="nav-links" aria-current="page" href="{% url 'shop-index' %}">Shop</a>
          </li>
          <li class="nav-item">
              <a class="nav-links" href="{% url 'create-index' %}">Create Item</a>
          </li>
          <li class="nav-item">
              <a class="nav-links" href="{% url 'notification-index' %}">Notifications</a>
          </li>
          <li class="nav-item">
              <a class="nav-links" href="{% url 'login' %}">Log out</a>
          </li>
      </ul>
    </div>
      <!-- profile mynd og stars/fire -->
      <a href="{% url 'myprofile-index' %}" class="profile-img">
          {% if UserInfo.rating == 0 %}
                    <img src="{% static 'images/fire stars.png' %}" alt="rating" width="120" height="30">
                {% endif %}
                {% if UserInfo.rating == 1 %}
                    <img src="http://127.0.0.1:8000/static/images/stars fire 1.png" alt="rating" width="120" height="30" >
                {% endif %}
                {% if UserInfo.rating == 2 %}
                    <img src="http://127.0.0.1:8000/static/images/stars fire 2.png" alt="rating" width="120" height="30" >
                {% endif %}
                {% if UserInfo.rating == 3 %}
                    <img src="http://127.0.0.1:8000/static/images/stars fire 3.png" alt="rating" width="120" height="30">
                {% endif %}
                {% if UserInfo.rating == 4 %}
                    <img src="http://127.0.0.1:8000/static/images/stars fire 4.png" alt="rating" width="120" height="30">
                {% endif %}
                {% if UserInfo.rating == 5 %}
                    <img src="http://127.0.0.1:8000/static/images/stars fire 5.png" alt="rating" width="120" height="30" >
                {% endif %}
          <img class="profile_img_nav" src="{{ Image.user_image }}" alt="{% static 'images/default_profile.png' %}">
      </a>
  </div>
</nav>
