{% extends 'base.html' %}
<!--the style sheet in the static file-->
{% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}" />
{% block content  %}
<body>
    <!--all products-->
    <div class="products">
        {% for Item in products %}
            {% if Item.available %}
            {% include 'shop/single_item.html' with Item=Item %}
            {% endif %}
        {% endfor %}
    </div>
    <!--search bar and filter by-->
    <div class="search-filter">
        <div class="input-group">
            <input type="search" placeholder="Search..." class="form-control" id="search-box"/>
            <div class="input-group-btn">
                <button type="button" id="search-btn" class="btn btn-default"><img src='{% static 'images/search icon.jpg' %}' height="20px" width="20px"/></button>
            </div>
        </div>
        <div class="filter">
            <div class="d-flex g4 gsx ai-center sm:fd-column sm:ai-start">
            <div class="flex--item s-select">
                <select id="answer-sort-dropdown-select-menu">
                    <option value=price-high selected=selected>highest price idea</option>
                    <option value=price-low>lowest price idea</option>
                    <option value=offer-high>highest offer</option>
                    <option value=offer-low>lowest offer</option>
                    <option value=order-alpha>alphabetical order</option>
                </select>
            </div>
            </div>
        </div>
    </div>
<body>
{% endblock %}