{% extends 'base.html' %}
{% block content %}
    <div class="float-container">
        {% for item_img in Item.itemimage_set.all %}
            <img src="{{ item_img.imgURL }}" class="item-img"/>
        {% endfor %}
    </div>
    <div class="child-container">
        <h1>{{ Item.name }}</h1>
        <p>{{ Item.description }}</p>
        <p>{{ Item.priceidea }} $</p>
        <p>Condition: {{ Item.condition }}</p>
        <p>Seller: {{ Item.seller.name }}</p>
        {# ef við viljum hafa það þannig að við förum inn á seller profile í item (b-krafa) #}
{#        <a href="{% url "myprofile-index" id=Item.user.id %}"><p>Seller: {{ Item.seller.name }}</p></a>#}
    </div>
{% endblock %}