{% extends 'base.html' %}
{% block content %}
<body>
    <div class="float-container">
        {% for item_img in Item.itemimage_set.all %}
            <img src="{{ item_img.imgURL }}" class="item-img"/>
        {% endfor %}
    </div>
    <div class="child-container">
        <div class="detail-title-price">
            <h1>{{ Item.name }}</h1>
            <p>Price from seller: $ {{ Item.priceidea }}</p>
        </div>
        <div class="flex-break">
            <p class="orange-text">Seller:</p>
            <p class="black-text"> {{ Item.seller.username}}</p>
        </div>
        <div class="flex-break">
            <p class="orange-text">Condition:</p>
            <p class="black-text"> {{ Item.condition }}</p>
        </div>
        <div class="flex-break">
            <p class="orange-text">Description:</p>
        </div>
        <div class="flex-break">
        <p class="black-text">{{ Item.description }}</p>
        </div>
        <div class="detail-offer">
            <p>Your offer: </p>
            <form>
                <input type="text" placeholder="price...">
            </form>
            <p> $</p>
            <button>Place offer</button>
        </div>
        <!--ef við viljum hafa það þannig að við förum inn á seller profile í item (b-krafa)-->
        {#<a href="{% url "myprofile-index" id=Item.user.id %}"><p>Seller: {{ Item.seller.name }}</p></a>#}
    </div>
    <div class="detail-similar">
        <h2>Similar items</h2>
    </div>
</body>
{% endblock %}