{% extends 'base.html' %}
{% block content %}
    <div class="checkout_confirmed_container">
        <h1 class="checkout_confirmed_title">Order Details</h1>
        <div class="flex_break"></div>

        <div class="confirm_info_container">
            <h4>Card Info</h4>
            <hr class="confirm_divider">
            <p class="card_name">Name: {{ order.payID.card_name | capfirst }}</p>
            <p class="card_name">Number: {{ order.payID.card_num | capfirst }}</p>
            <p class="card_name">CVC: {{ order.payID.CVC | capfirst }}</p>
            <p class="card_name">Expire date: {{ order.payID.exdate | capfirst }}</p>
        </div>
        <div class="confirm_info_container">
            <h4>Address Info</h4>
            <hr class="confirm_divider">
            <p class="card_name">Street: {{ order.payID.street | capfirst }}</p>
            <p class="card_name">ZIP: {{ order.payID.zip | capfirst }}</p>
            <p class="card_name">City: {{ order.payID.city | capfirst }}</p>
            <p class="card_name">Country: {{ order.payID.country | capfirst }}</p>
        </div>
        <div class="confirm_info_container">
            <h4>Order Info</h4>
            <hr class="confirm_divider">
            <p class="card_name">Item name: {{ order.offerID.item.name | capfirst }}</p>
            <p class="card_name">Price: {{ order.offerID.amount| capfirst }}</p>
            <p class="card_name">Seller: {{ order.offerID.item.seller | capfirst }}</p>
        </div>
        <div class="flex_break"></div>
        <div class="confirm_btn_container">
            <a href="{% url 'checkout-payment' %}?offer-id={{ order.offerID.id }}" class="checkout_btn"> BACK </a>
            <a href="{% url 'save' %}?order-id={{ order.id }}&payment-id={{ order.payID.id }}" class="checkout_btn"> CONFIRM </a>
        </div>
</div>
{% endblock %}