{% extends 'base-profile.html' %}
{% block sub_content %}
    <div class="profile_container">
        <h1 class="profile_title">Profile</h1>
        {% include 'myprofile/single_profile.html' %}
    </div>
    <hr class="divider">
    <div class="profile_review_container" id="review_section1">
        <h1 class="profile_title">Reviews</h1>
        <div class="review_info_container">
            {# To show each review the user has, if the user has no reviews then show empty message #}
            {% for review in Reviews %}
                {% include 'myprofile/single_review.html' with review=review %}
            {% empty %}
                <div class="empty_message_container">
                    <h5 class="empty_message">You have no reviews.</h5>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}