{% extends 'base-profile.html' %}
{% block sub_content %}
    <div class="profile_container">
        <h1 class="profile_title">My Offers</h1>
        <div class="item_container">
            {% for offer in Offers %}
{#                {% if offer.amount = Item.higestoffer (Item.available == true) %}#}
                    {% include 'myprofile/single_avalible_offer.html' %}
{#                {% endif %}#}
            {% endfor %}
        </div>
    </div>
    <hr class="divider">
    <div class="profile_container">
        <h1 class="profile_title">Declined Offers</h1>
        <div class="item_container">
            {% for order in Orders %}
                {% if order.Offers.Item.available == false %}
                    {% if order.Payments.userID != Users.id %}
                        {% include 'myprofile/single_declined_offer.html' %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}