{% extends 'base-profile.html' %}
{% block sub_content %}
    <div class="offer_profile_container">
        <h1 class="profile_title">My Offers</h1>
        <div class="item_container">
            {% for Offer in Available_Offers %}
                    {% include 'myprofile/single_avalible_offer.html' %}
            {% empty %}
                <div class="empty_message_container">
                    <h5 class="empty_message">You have no active offers.</h5>
                </div>
            {% endfor %}
        </div>
    </div>
    <hr class="divider">
    <div class="offer_profile_container">
        <h1 class="profile_title">Declined Offers</h1>
        <div class="item_container">
            {% for Offer in Declined_Offers %}
                    {% include 'myprofile/single_declined_offer.html' %}
            {% empty %}
                <div class="empty_message_container">
                    <h5 class="empty_message">You have no declined offers.</h5>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}