{% extends 'base-profile.html' %}
{% block sub_content %}
    <div class="offer_profile_container">
        <h1 class="profile_title">My Offers</h1>
        <div class="item_container">
            {% for Offer in Offers %}
                {% if Offer.item.available %}
                    {% include 'myprofile/single_avalible_offer.html' %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <hr class="divider">
    <div class="offer_profile_container">
        <h1 class="profile_title">Declined Offers</h1>
        <div class="item_container">
            {% for Offer in Offers %}
                {% if  not Offer.accepted and not Offer.item.availible %}
                    {% include 'myprofile/single_declined_offer.html' %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}