{% load static %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}" />
<!-- Sidebar -->

<nav class="sidebar">

    <div class="sidebar_options_container">
      <h3 class='side_nav_title'>Account</h3>
      <a href="{% url 'myprofile-index' %}" class="side_nav_option"> My Profile </a>
      <a href="#" class="side_nav_option"> Edit Profile </a>
      <a href="#" class="side_nav_option"> Reviews </a>
    </div>

    <div class="sidebar_options_container">
      <h3 class='side_nav_title'>Buying</h3>
      <a href="#" class="side_nav_option"> My Offers </a>
      <a href="#" class="side_nav_option"> Purchases </a>
    </div>

    <div class="sidebar_options_container">
      <h3 class='side_nav_title'> Selling </h3>
      <a href="#" class="side_nav_option"> My Items </a>
      <a href="#" class="side_nav_option"> Sold </a>
    </div>

</nav>
<!-- Sidebar -->
