{% load static %}
<link rel="stylesheet" href="{% static 'css/myprofile_nav.css' %}" />
<!-- Sidebar -->

<nav class="sidebar">
  <div class="sidebar_container">

    <div class="sidebar-options-containter">
      <h3 class='side-nav-title'>Account</h3>
      <a href="#" class="side_nav_option" aria-current="true"> My Profile </a>
      <a href="#" class="side_nav_option"> Edit Profile </a>
      <a href="#" class="side_nav_option"> Reviews </a>
		</div>

    <div class="sidebar-options-containter">
      <h3 class='side-nav-title'>Buying</h3>
      <a href="#" class="side_nav_option"> My Offers </a>
      <a href="#" class="side_nav_option"> Purchases </a>
		</div>

    <div class="sidebar-options-containter">
      <h3 class='side-nav-title'> Selling </h3>
      <a href="#" class="side_nav_option"> My Items </a>
      <a href="#" class="side_nav_option"> Sold </a>
		</div>

  </div>
</nav>
<!-- Sidebar -->
