{% extends 'base-profile.html' %}
{% block sub_content %}
    <div class="profile_container">
        <h1 class="profile_title">Purchases</h1>
        <div class="items_container">
            {% for Offer in Offers %}
                    {% include 'myprofile/single_purchase.html' %}
            {% empty %}
                <div class="empty_message_container">
                    <h5>You have no purchases.</h5>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}