<div class="seller_item_container">
    <img class="offer_item_img" src="{{ Item.itemimage_set.first.imgURL }}" alt="{{ Item.name }} image" />
    <div class="offer_info_container">
        <a href="/shop/{{ Item.id }}">
            <h5 class="offer_item_title">{{ Item.name | capfirst}}</h5>
        </a>
        <button class="cancel_offer_btn" >X</button>
        <div class="flex_break"></div>
            {% if Item.heighestoffer == 0 %}
{#                    IF THERE ARE NO OFFERS SHOW: 'NO OFFERS'#}
                <p class="offer_state_title red">No offers<br></p>
            {% else %}
                {% for offer in Offers %}
                    {% if offer.amount == Item.heighestoffer and offer.item.id == Item.id %}
                        {% if offer.accepted == False %}
                            <p class="offer_state_title green">Highest offer: <br>$ {{ Item.heighestoffer }}</p>
                            <div class="flex_break"></div>
                            <a href="{% url 'accept' %}?offer-id={{ offer.id }}" class="checkout_link"> Accept </a>
                        {% else %}
                            <p class="offer_state_title yellow">Pending...<br>$ {{ offer.amount }}</p>
                            <div class="flex_break"></div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
    </div>
    <hr class="offer_divider">
</div>