{% extends 'base-profile.html' %}
{% block sub_content %}
    <div class="profile_container">
        <h1 class="profile_title">Sold Items</h1>
        <div class="items_container">
        {# Get all the items from sold_products #}
            {% for Item in sold_products %}
                {% include 'myprofile/single_sold_item.html' with Item=Item %}
            {% empty %}
                <div class="empty_message_container">
                    <h5>You have no sold items.</h5>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}